/main.aux
/main.fdb_latexmk
/main.fls
/main.log
/main.out
/main.synctex.gz
/main.synctex.gz\(busy\)
/3column.aux
/3column.fdb_latexmk
/3column.fls
/3column.log
/3column.out
/3column.synctex.gz
/3column.synctex.gz\(busy\)